@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playball&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Crimson Text', sans-serif;

    
}